<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <script src="https://kit.fontawesome.com/5455314a18.js" crossorigin="anonymous"></script>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="../app.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="contacts">

                <div class="control">
                    <a href=""><i class="fa fa-user-plus" aria-hidden="true"></i></a>
                </div>

                
        </div>

        <div class="content">
            <div class="messages">
                <div class="message message-send">
                    <p>hello</p>
                </div>
                
                <div class="message message-rcv">
                    <p>yo</p>
                </div>
            </div>
            <div class="form">
                <form action="">
                    <input type="text" name="message" id="message">
                    <input type="submit" value="send">
                </form>
            </div>
        </div>
    </div>
</body>
</html>